.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

:root {
    --gradient-effect: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    --color-green: #00FF88;
    --color-dark-blu: #1A0B2E;
    --color-l-dark-blu: #230E3D;
    --color-card-blu: rgba(53, 17, 101, 0.4);
    --color-white: #FFFFFF;
}

.gradient{
    background: var(--gradient-effect);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.section-heading{
    color: var(--color-white);
    font-size: 3rem;
    font-weight: 800;
}

i{
    margin: 0 8px;
}

.btn-primary{
   background: var(--gradient-effect);
    color: white;
    padding: 12px 16px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
}

.btn-secondary{
   background: transparent;
    color: var(--color-green);
    padding: 12px 16px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1rem;
    border: 2px solid var(--color-green);
}



/* shared styles */
button{
     font-family: inherit;
}

.d-flex{
    display: flex;
}

.nav-container{
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    
}
.nav-link{
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
    font-size: 1rem;

}
.navbar{
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark-blu);
    padding: 0 200px 0 150px;
    border-bottom: 3px solid rgba(169, 117, 237, 0.4);
}

.navbar h3{
    margin: 30px 0 30px 0;
}

.hide{
    display: none;
}




.banner{
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.btn-glow {
    position: absolute;
    top:14%;
    right:30%;
    padding: 8px 16px;
    background-color: #00FF88;
    color: #0A0B2E;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    cursor: pointer;
}

.banner .banner-container{
    text-align: center;
    position: relative;
    margin-left:25%;
    margin-right: 25% ;
    padding-top: 5%;
    padding-bottom: 5%;
}

 .banner .front-img{
    position: absolute;
    /* left: 46.25rem;
    bottom: 25rem; */
    left: 43%;
    top: 24%;

}
.banner h1{
    font-size: 4rem;
}
.banner p{
    font-size: 1rem;
    font-weight: 300;
}

.banner p{
    color: var(--color-white);
}

.btn-pair{
 justify-content: center;
 gap: 10px;
}












@media screen and (max-width:576px) {
    
.section-heading{
    font-size: 1rem;
    font-weight: 800;
}

.navbar{
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px 0 15px;
}
.nav-container, .nav-button{
    display: none;
}
.hide{
    display: block;
    color: var(--color-white);
    padding-top: 30px;
    font-size: 1rem;
}
.front-back{
    transform: scale(0.71);
    z-index: 1;
}
.front-img{
  position: absolute;
  transform: scale(0.71) translate(-35%, -30%);
  z-index: 2;

}
.banner .banner-container{
    margin-left:10%;
    margin-right: 10% ;
    padding-top: 0;
    padding-bottom: 5%;
}
.btn-glow{
    z-index: 10;
    top:10%;
    right:28%;
}
.banner h1{
    font-size: 3rem;
}

}

@media screen and (min-width: 576px) and (max-width: 1140px){

.section-heading{
    font-size: 2rem;
    font-weight: 800;
}

.navbar{
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 30px 0 25px;
}
.nav-container, .nav-button{
    display: none;
}
.hide{
    display: block;
    color: var(--color-white);
    padding-top: 30px;
    font-size: 2rem;
}
.front-back{
    transform: scale(0.71);
    z-index: 1;
}

.front-img{
  position: absolute;
  left: 45%;
  top: 45%;
  transform: scale(0.71) translate(10%, -36%);
  z-index: 2;

}

.btn-glow{
    z-index: 10;
    position: absolute;
    right:36%;
}
.banner .banner-container{
    margin-left:10%;
    margin-right: 10% ;
    padding-top: 0;
    padding-bottom: 5%;
}

}